*{
    margin: 0;
    padding: 0;
}



nav{
    display: flex;
    justify-content: space-around;
    background-color:#232324;
    height: 90px;
}

nav a{
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

nav .left-nav{
    margin-top: 10px;
}

nav .right-nav{
    margin-top: 15px;
}

.left-nav .p1{
    font-size: 50px;
    color: #5bbea8;
    font-weight: bold;
}

.left-nav .p2{
    color: white;
    font-size:8px ;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
    font-weight: light;
    letter-spacing: 4px;
}

.right-nav i{
    color: #3c9c84;
    margin-top: 10px;
    font-size: 20px;
}

.right-nav a{
    margin-top: 15px;
    color: white;
}

.sec1{
    
    background-image: linear-gradient(to right,black ,#1a3531);
}

.sec1 .p1{
    color:#5bbea8 ;

}

.sec1 .p2{
    margin-top: 13px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.sec1 .p3{
    color: gray;
    margin-top: 10px;
}

.sec1 .left-sec1{
    position: absolute;
    top: 300px;
    left: 150px;
}

.right-sec1 img{
    opacity: 0.5;
    margin-top: -150px;
    margin-left: 550px;
    
}

.sec2{
    display: flex;
    height: 600px;
    background-color: black;
}


.left-sec2{
    position: relative;
    top: 100px;
    left: 100px;
}

.left-sec2 .p1{
    color:#5bbea8;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    
    
}

.left-sec2 .p2{
    color:white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 7px;
    
}

.left-sec2 .p3{
    color: gray;
    margin-top: 12px;
}

.left-sec2 .p4{
    color: gray;
    margin-top: 12px;
}

.left-sec2 button{
    color:white;
    background-color: #57aa95;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    border: none;
}


.right-sec2div1{
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    position: relative;
    top: 10px;
}

.right-sec2div2{
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    position: relative;
    top:-55px;
    left: 20px;
    
}


.brand{
    background-color: rgb(12, 11, 11);
    padding-left: 60px;
    margin: 20px;
    margin-left: 30px;
    margin-right: 22px;
}

.web{
    background-image: linear-gradient(to bottom,black ,#1a3531);
    padding-top: 20px;
    padding-left: 70px;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: -50px;
    

    
    
}

.ui{
    background-image: linear-gradient(to bottom,black ,#1a3531);
    padding-left: 60px;
    padding-right: 10px;
    margin: 20px;
    margin-top: 5px;
}


.video{
    background-color: rgb(12, 11, 11);
    padding-left: 70px;
    padding-top: 5px;
}


.sec3{
    position: relative;
    background-color:#0e0d0d ;
}

.left-sec3 img{
    margin-left: 160px;
    margin-top: 90px;

}

.right-sec3{
    position: absolute;
    top: 100px;
    left: 600px;
  
}

.right-sec3 .p1{
    color:#5bbea8;
    letter-spacing: 3px;
}

.right-sec3 .p2{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.right-sec3 .p3{
    color: gray;
    margin-top: 10px;
}

.sec3div3{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.sec3div3 .sec3div3p1{
    position: relative;
    left: 90px;
    top:-75px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.sec3div3 .sec3div3p2{
    color: gray;
    margin-left: 85px;
    margin-top: -65px;
}

.clean{
    margin: 20px;
    margin-top: 30px;
}



.modern{
    margin: 20px;
    margin-top: 30px;
}


   

.sec4{
    background-image: linear-gradient(to left,#102724,#184742);
    
}




    .sec4 .makeup{
        background-image: url(images/1.jpg);
        opacity: 0.2;
        background-size: cover;
        height: 300px;
        background-position:right center;
        
       
        
        
    }



    .sec4 .icons{
        display: flex;
        position: relative;
        top:-270px;
        
        justify-content: space-around;
       
    }

    .sec4 .p1{
        color: #3c9c84;
        font-size: 45px;
        font-weight: bold;
    }

    .sec4 .p2{
        color: white;
        font-size: 20px;
    }

    .sec5{
        position: relative;
        background-color: black;
        height: 800px;
        margin-top: -200px;
    }

    .sec5 .left-sec5{
        display: flex;
        position: absolute;
        color: white;
        left:150px;
        top:100px;
    }

    .sec5 .p1{
        color: #5bbea8;
        letter-spacing: 3px;
        font-weight: bold;
    }

    .sec5 .p2{
        font-size: 40px;
        font-weight: bold;
        color: white;
        margin-top: 10px;
    }

    .sec5 .p3{
        color: gray;
        margin-top: 50px;
    }

    .product{
        position: absolute;
        top:440px;
        left:195px;
        
    }

    .sec6{
        background-image: linear-gradient(to right,#081311,#184742);
        height: 200px;
      
    
    }

    .sec6 .div1 {
        position: relative;
        top:1px;
        opacity: 0.3;
        height: 200px;
        background-image:url(images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg); 
        background-size: cover;
        background-position: left center ;
    }

    

    .sec7{
        background-color: black;
        display: flex;
    }

    .left-sec7{
        margin-left: 200px;
        margin-top: 250px;
    }

    .left-sec7 .p1{
        color:#5bbea8;
        letter-spacing: 3px;
    }

    .left-sec7 .p2{
        color: white;
        font-weight: bold;
        font-size: 43px;
        margin-top: 10px;
    }

    .left-sec7 .photo1{
        margin-top: 100px;
    }

    .sec8 .div1{
        background-image:url(images/Bg-1.jpg);
        opacity: 0.3;;
        
        height: 310px;
        background-size:cover;
        background-position: right center;
    }

    .sec8{
       background-image: linear-gradient(to right,rgb(27, 26, 26),black);
       height: 310px;
        
    }

    .sec8 p{
        position: relative;
        top: -300px;
    }

    .sec8 .p1{
        color: #5bbea8;
        letter-spacing: 3px;
        font-weight: bold;
    }

    .sec8 .p2{
        font-size: 50px;
        font-weight: bold;
        color: white;
    }

    .sec8 .p3{
        color: gray;
        font-size: 18px;
        margin-top: 18px;
    }

    .sec8p{
        position: relative;
        text-align: center;
        justify-content: center;
        top: 90px;
        
    }

    .sec9 .photo{
        background-image:url(images/Bg-1.jpg);
    
        filter: brightness(50%);
        height: 700px;
        background-size:cover;
        background-position: right center;
    }


    .sec9{
    
    
    
    height: 650px;
    background-image: linear-gradient(to right,rgb(36, 34, 34),black);
    
}


.sec9 .div1{
    position: relative;
    top:-630px
}

.sec9 .div2{
    position: relative;
    top:-650px
}

    .sec9 .p1{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .sec9 .p2{
        color: gray;
        margin-top: 40px;
    }

    .mike{
       
       background-color: rgb(21, 21, 22);
       width: 500px;
       height: 270px;
       margin-left: 70px;
       position: relative;
        top: 30px;
    }


    .hanna{
       
        background-color: rgb(21, 21, 22);
        width: 500px;
        height: 270px;
        margin-left: 20px;
        position: relative;
         top: 30px;
     }

     .hanna i{
        
        
            position: relative;
            top: 75px;
            margin: 10px;
        
     }

    .sec9 .para{
        position: relative;
        left: 250px;
        top: -190px;
    }


    .sec9 .div1{
        display: flex;
    }

    .mike i{
        
        position: relative;
        top: 75px;
        margin: 10px;
    }


    .sec9 .div2{
        display: flex;
        margin-top: 30px;
    }



    .lexi{
       
        background-color: rgb(21, 21, 22);
        width: 500px;
        height: 270px;
        margin-left: 70px;
        position: relative;
         top: 50px;
     }

     .lexi i{
        
        
        position: relative;
        top: 75px;
        margin: 10px;
    
 }

 .kevin i{
        
        
    position: relative;
    top: 75px;
    margin: 10px;

}

.sec10{
    background-color: black;
    height: 1480px;
}

.sec10 .para{
    justify-content: center;
    text-align: center;
    position: relative;
    top: 150px;
}

.sec10 .images1{
    margin-top: 120px;
}

.sec10 .p1{
    color:#5bbea8;
    letter-spacing: 3px;
    font-weight: bold;
}

.sec10 .p2{
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.sec10 .p3{
    color: gray;
    margin-top: 20px;
}

.sec10 .images1{
    position: relative;
    top:50px;
    
    
    
}


.sec10 .images2{
    position: relative;
    top: 50px;
}


.sec10 .images3{
    position: relative;
    top:50px;
    
    
    
}
 
 
     .kevin{
        
         background-color: rgb(21, 21, 22);
         width: 500px;
         height: 270px;
         margin-left: 20px;
         position: relative;
          top: 50px;
      }

      

      .sec11 .photo{
        background-image:url(images/adadad.jpg);
        
        background-size: cover;
        filter: brightness(100%);
        opacity: .9;
           
           background-position: bottom center;
           height: 670px;
      }

.sec11 .container{
    display: flex;
    background-image: linear-gradient(to right,black,rgb(43, 42, 42));
    height: 1px;
   
    
}

.sec11 .left-sec11{
    position: relative;
    top:-650px;
    left: 10px;
}

.sec11 .right-sec11{
    position: relative;
    top:-650px;
    left: 10px;
}

     
      .left-sec11{
        margin-left: 150px;
        margin-top: 100px;
        filter: brightness();
        
      }

      
      .left-sec11 .p1{
        color: #5bbea8;
        letter-spacing: 3px;
        font-weight: bold;
      }
      
      .left-sec11 .p2{
        color:white;
        font-weight: bold;
        font-size: 45px;
        margin-top: 10px;
      }

      .left-sec11 .p3{
        color: gray;
        margin-top: 10px;
      }

      .right-sec11{
        margin-top: 100px;
        top: 80px;
        background-color: #070707;
        opacity: 0.8;
        height: 250px;
       
        filter: brightness(70%);
      }

      .sec12{
        
        background-color: black;
        height: 700px;
      }

      .sec12 .para{
        text-align: center;
        position: relative;
        top: 90px;
      }

      .sec12 .para .p1{
        color: #5bbea8;
        letter-spacing: 3px;
        font-weight: bold;
      }

      .sec12 .para .p2{
        font-weight: bold;
        font-size: 45px;
        color: white;
      }

      .sec12 .p3{
        color: gray;
        margin-top: 10px;
      }

      .sec12 .photos{
        display: flex;
        margin-top: 150px;
        margin-left: 180px;
      }

      .sec12 .photos .p1{
        color:#5bbea8;
        font-weight: bold;
        font-size: 25px;
        margin-top: 10px;
      }

      .sec12 .photos .p2{
        color: gray;
        margin-top: 15px;
      }

      .sec13{
        background-image: linear-gradient(to right,rgb(17, 16, 16),rgb(17, 16, 16));
      }

      .sec13 .container {
        display: flex;
    
       background-image: url(images/bg-2.png);
        
        height: 620px;
        background-position:left center;
        background-size:cover ;
         
        
      }

      .sec13 .right-sec13{
        margin-top: 85px;
        margin-left: 10px;
      }

      .sec13 .right-sec13 .p1{
        letter-spacing: 3px;
        color: #5bbea8;
        font-weight: bold;
      }

      .sec13 .right-sec13 .p2{
        color: white;
        font-size: 45px;
        font-weight: bold;
      }

      footer .background{
        background: radial-gradient(ellipse,black,rgb(9,26,26)),black;
      }

      footer{
    
        height: 600px;
      }

      footer h1{
        color:#57aa95 ;
        text-align: center;
        position: relative;
        top: 80px;
        font-size: 55px;
      }

      footer .p1{
        color: white;
        letter-spacing: 3px;
        text-align: center;
        margin-top: 80px;
        font-size: 10px;
      }

      footer a{
        text-decoration: none;
        color:#57aa95;
        position: relative;
        margin: 10px;
        top:50px;
        left: 430px;
        font-weight: bold;
      }

      .sec13 .right-sec13 .p3{
        color: gray;
        margin-top: 15px;
      }

      footer .p2{
        text-align: center;
        color: white;
        margin-top: 100px;
      }

      footer .background{
        s
      }

      

      
      

      
      



    







